<!DOCTYPE html>
<html>
  <head>
    <title>WeatherHotwires</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= include_gon %>
  </head>

  <body>
    <nav class="bg-gray-800">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <%= link_to 'Dashboard', root_path, class: 'text-white rounded-md px-3 py-2 text-sm font-medium' %>
                <%= link_to 'Prediction', prediction_path, class: 'text-white rounded-md px-3 py-2 text-sm font-medium' %>
                <%# <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Team</a> %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

  <%= notice %>
  <%= alert %>
  <%= yield %>
  </body>
</html>
